.card {
  display: flex;

  flex-direction: column;
  gap: 20px;
  border: 1px solid #e6e2e2;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__favorite {
    position: absolute;
    cursor: pointer;
  }
  .plus {
    cursor: pointer;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }
  p {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }
  b {
    font-size: 12px;
  }
  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

// .button {
//   background: #fff;
//   border: 1px solid #e6e2e2;

//   border-radius: 8px;
//   cursor: pointer;
//   height: 32px;
//   width: 32px;
// }
